/* Default Toastr Positioning */
#toast-container {
    position: fixed;
    z-index: 999999;
}

/* RTL Support */
[dir="rtl"] #toast-container.toast-top-left {
    top: 12px;
    left: 12px;
}

[dir="ltr"] #toast-container.toast-top-right {
    top: 12px;
    right: 12px;
}